{
  "env": {
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier", "import"],
  "extends": [
    "airbnb-base",
    "prettier",
    "plugin:@typescript-eslint/recommended"
  ],
  "settings": {
    "import/resolver": {
      "typescript": {
        "directory": "./"
      },
      "node": {
        "extensions": [".js", ".ts"]
      }
    }
  },
  "rules": {
    "prettier/prettier": ["error", { "singleQuote": true }],
    "import/prefer-default-export": "off",
    "prefer-promise-reject-errors": "off",
    "no-throw-literal": "off",
    "quotes": ["error", "single"]
  }
}
