.main-page {
  background-color: grey;
}

.main-page__user-avatar {
  width: 40px;
  height: 40px;
}

.dashboard__page-container {
  position: relative;
  display: grid;
  grid-template-columns: minmax(100px, 300px);
  justify-content: center;
  padding-top: 70px;

  background-color: var(--page-container-background);

  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: block;
}

@font-face {
  font-family: "Roboto";
  src: url("~roboto-fontface/fonts/roboto/Roboto-Thin.woff2") format("woff2"), url("~roboto-fontface/fonts/roboto/Roboto-Thin.woff") format("woff");
  font-display: swap;
  font-weight: 100;
  font-style: normal;
}
